body {

}

header {
    
}
.linksLogo {
    display: flex;
    justify-content: center;
}

.links {
    margin-left: auto;
    padding: 10px;
}

.links a {
    padding: 10px;
}

.logo {
    padding: 10px;
    flex: 1;
}